html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
}

a {
  background-color: red;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px 15px 0 0;
  width: 150px;
}

.btn-hover:hover {
  cursor: pointer;
  opacity: 0.7;
  letter-spacing: 1px;
  font-size: 24px;
}

.title {
  margin: 20px;
  letter-spacing: 3px;
  font-family: "Anton", sans-serif;
}

.subtext {
  color: #ccc;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Source Code Pro", monospace;
}

.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), 60px);
  grid-template-rows: repeat(var(--size), 60px);
  gap: 4px;
  background-color: #777;
  font-family: "Source Code Pro", monospace;
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #bbb;
  user-select: none;
}

.board > [data-status="hidden"] {
  background-color: #bbb;
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: red;
}

.board > [data-status="number"] {
  background-color: none;
}

.board > [data-status="marked"] {
  background-color: yellow;
}

.fa-font-awesome-flag {
  color: #333;
}

/* Modal Styles */

.hidden {
  display: none;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 10rem;
  cursor: pointer;
}

.modal {
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: justify;
  background-color: white;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal h1 {
  font-size: 30px;
  margin-bottom: 12px;
  font-family: "Anton", sans-serif;
}

.modal h2 {
  font-size: 24px;
  margin-top: 20px;
  font-family: "Anton", sans-serif;
}

.modal p {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Source Code Pro", monospace;
}
.levels {
  display: flex;
  justify-content: space-around;
}
.game-level {
  width: 180px;
  height: 180px;
  background-color: #777;
  color: white;
  font-family: "Source Code Pro", monospace;
  padding: 10px;
  border-radius: 100px;
  border: none;
  font-size: 20px;
  text-align: center;
  transition: all 100ms ease-in-out;
}

.game-level:hover {
  padding: 0;
}
